<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="#" th:object="${searchedRegex}" method="post">
    <input type="text" id="literal" name="literal" th:field="*{regex}" placeholder="regex">
    <br>
    <input type="text" id="letters" name="letters" th:field="*{letters}" placeholder="letters">
    <br>
    <button type="submit" name="searchWords">Search</button> <p th:value="${explanation}"></p>
</form>

<table>
    <tbody>
    <tr th:each="word : ${matchingWords}">
        <td th:text="${{word.value}}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>