<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="#" th:object="${searchedRegex}" method="post">
    <label>regex</label><input type="text" id="regex" name="regex" th:field="*{regex}">
    <br>
    <label>letters</label><input type="text" id="letters" name="letters" th:field="*{letters}">
    <br>
    <label>containing</label><input type="text" id="containing" name="containing" th:field="*{containing}">
    <br>
    <button type="submit" name="searchWords">Search</button> <p th:value="${explanation}"></p>
</form>

<table>
    <tbody>
    <tr th:each="word : ${matchingWords}">
        <td th:text="${{word.value}}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>